<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="TopicBasedSystem" type="system">
        <hardware>
            <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
            <param name="joint_commands_topic">/topic_based_joint_commands</param>
            <param name="trigger_joint_command_threshold">-1.0</param> <!-- force publishing whatever the difference between current state and joint command -->
        </hardware>
        <joint name="joint_wheel_roueholonome1">
            <command_interface name="velocity"/>
        </joint>
        <joint name="joint_wheel_roueholonome2">
            <command_interface name="velocity"/>
        </joint>
        <joint name="joint_wheel_roueholonome3">
            <command_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot>

