<?xml version="1.0" ?>
<model>
    <name>plank</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>BOYER--NAVARRO Kévin</name>
        <name>MINDZIE MI MBIDA Julien</name>
        <email>kevin.boyer--navarro@groupe-esigelec.org</email>
        <email>julien.mindzie@groupe-esigelec.org</email>
    </author>
    <description>Planky the plank for the 2025 Coupe de France de robotique</description>
</model>
